<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>GPTEACHER FLASHCARDS</title>
</head>
<body>

<div id="site">
    <div id="snowZone">
        <div id="main">
            <form method="POST" action="/upload" enctype="multipart/form-data" style="grid-row: 1">
          <input id="fileInput" type="file" name="file" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx, .txt" style="display: none">

          <label for="fileInput" class="file-label">Choose File</label>
          <input class="form-button" type="submit" value="Upload" onclick="rotateMessages()">
        </form>
            <div class="views">
                <button class="viewButton" id="grid" onclick="switchView('grid')">Grid View</button>
                <button class="viewButton" id="list" onclick="switchView('list')">List View</button>
            </div>
            <div id="loading-msgs" style="display: none">
                <h1>This may take a little to process please hang in there!</h1>
                <h1>Scanning handwriting...</h1>
                <h1>Little dinosaur robots are finishing your flashcards</h1>
                <h1>Typo found... correcting</h1>
                <h1>And! Almost there.</h1>
            </div>
            <div class="loader"></div>
            <div class="flashcards list-view">
                {% for item in data %}
                <div class="card">
                    <div class="cardFront" onclick="switchSides(true,this)">
                        <div class="card_info">
                            <i title="Edit front side" class="fa fa-solid fa-pencil back-edit" onclick="edit(this.parentElement.parentElement); event.stopPropagation()" style="grid-column: 1"></i>
                            <h3 class="cardTitle">FRONT</h3>
                            <div class="card_status">
                                <i title="I still need practice!" onclick="changeColor(this, this.parentElement); event.stopPropagation()" class="fa fa-solid fa-question" style="grid-column: 1"></i>
                                <i title="I'm so close!" class="fa fa-regular fa-thumbs-up" onclick="changeColor(this, this.parentElement); event.stopPropagation()" style="grid-column: 2"></i>
                                <i title="I've mastered this card!" class="fa fa-regular fa-star" onclick="changeColor(this, this.parentElement); event.stopPropagation()" style="grid-column: 3"></i>
                            </div>
                        </div>
                        <p class="front">{{item['front']}}</p>
                    </div>
                    <div class="cardBack" style="display: none" onclick="switchSides(false, this)">
                        <div class="card_info">
                            <i title="Edit front side" class="fa fa-solid fa-pencil back-edit" onclick="edit(this.parentElement.parentElement); event.stopPropagation()" style="grid-column: 1"></i>
                            <h3 class="cardTitle">BACK</h3>
                            <div class="card_status">
                                <i title="I still need practice!" onclick="changeColor(this, this.parentElement); event.stopPropagation()" class="fa fa-solid fa-question" style="grid-column: 1"></i>
                                <i title="I'm so close!" class="fa fa-regular fa-thumbs-up" onclick="changeColor(this, this.parentElement); event.stopPropagation()" style="grid-column: 2"></i>
                                <i title="I've mastered this card!" class="fa fa-regular fa-star" onclick="changeColor(this, this.parentElement); event.stopPropagation()" style="grid-column: 3"></i>
                            </div>
                        </div>
                        <p class="back">{{item['back']}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>


  function switchSides(side, element){
    if (side){

      const frontElement = element;
      const backElement = element.nextElementSibling;

      if (backElement.style.display === "none"){
        backElement.style.display = "grid"
        frontElement.style.display = "none"
        if (frontElement.querySelector('.card_info .card_status .fa-thumbs-up').style.color === 'green'){

          backElement.querySelector('.card_info .card_status .fa-thumbs-up').style.color = 'green'
        }
      }
      else{
        frontElement.style.display = "grid"
        backElement.style.display = "none"
      }

    }
    if(!side){
      const backElement = element;
      const frontElement = element.previousElementSibling;
      if (backElement.style.display === "none"){
        backElement.style.display = "grid"
        frontElement.style.display = "none"
      }
      else{
        frontElement.style.display = "grid"
        backElement.style.display = "none"
      }

    }
  }
  function switchView(viewType){
    var flashcardsDiv = document.querySelector('.flashcards')
    if (viewType === 'list'){
      flashcardsDiv.classList.remove('grid-view')
      flashcardsDiv.classList.add('list-view')

    }
    if (viewType === 'grid'){
      flashcardsDiv.classList.remove('list-view')
      flashcardsDiv.classList.add('grid-view')
    }
  }
  function changeColor(element, parent){
    const thumbs = parent.querySelector('.fa-thumbs-up')
    const star = parent.querySelector('.fa-star')
    const question = parent.querySelector('.fa-question')

    if (element.classList.contains("fa-thumbs-up")) {
      if (element.style.color !== 'green') {
        element.style.color = 'green';
        star.style.color = 'lightgray'
        question.style.color = 'lightgray'
      } else {
        element.style.color = 'lightgray';
      }
    }
    if (element.classList.contains("fa-star")) {
      if (element.style.color !== 'yellow') {
        element.style.color = 'yellow';
        question.style.color = 'lightgray'
        thumbs.style.color = 'lightgray'
        fallingObject();
      } else {
        element.style.color = 'lightgray';
      }

    }
    if (element.classList.contains("fa-question")) {
      if (element.style.color !== 'red') {
        element.style.color = 'red';
        star.style.color = 'lightgray'
        thumbs.style.color = 'lightgray'
      } else {
        element.style.color = 'lightgray';
      }
    }


  }
 function rotateMessages() {
    const loader = document.querySelector('.loader');
    loader.style.display = 'block'
    const messages = document.querySelectorAll('#loading-msgs h1');
    let currentIndex = 0;

    function showNextMessage() {
        messages[currentIndex].style.display = 'none'; // Hide the current message
        currentIndex = (currentIndex + 1) % messages.length; // Move to the next message
        messages[currentIndex].style.display = 'block'; // Show the next message
    }

    showNextMessage(); // Show the first message immediately

    const interval = setInterval(() => {
        showNextMessage();
    }, 6000); // Switch messages every 6 seconds

    // Optionally, you can clear the interval after a certain number of cycles or when needed.
    // clearInterval(interval);
}

  function edit(side){
    let editP = side.querySelector('p');
    let editedp =prompt("What would you like to change this side to?\n" + "ORIGINAl: " + editP.textContent)
    editP.textContent = editedp
  }

  function fallingObject() {
    var $snowflakes = $(),
            createSnowflakes = function () {
              var qt = 60;
              for (var i = 0; i < qt; ++i) {
                if (i % 2 === 0){
                  var $snowflake = $('<div class="snowflakes"><img src="thumb.png" alt="Snowflake"></div>');
                  $snowflake.css({
                    'left': (Math.random() * ($('#site').width()) + 500) + 'px', // Increase 200 for greater distance
                    'top': (-Math.random() * ($('#site').height() + 200)) + 'px',
                    'transform': 'scale(0.25)',// Increase 200 for greater distance
                  });// Change the image source here
                }
                else {
                  console.log('Thumb')
                  var $snowflake = $('<div class="snowflakes"><img src="thumb.png" alt="Snowflake"></div>'); // Change the image source here
                  $snowflake.css({
                    'left': (Math.random() * ($('#site').width()) - 300) + 'px', // Increase 200 for greater distance
                    'top': (-Math.random() * ($('#site').height() + 200)) + 'px', // Increase 200 for greater distance
                    'transform': 'scale(0.25)',
                  });}

                $snowflakes = $snowflakes.add($snowflake);
              }
              $('#snowZone').prepend($snowflakes);
            },
            runSnowStorm = function () {
              $snowflakes.each(function () {
                var $flake = $(this);
                $flake.animate({
                  top: "500px",
                  opacity: "0",
                }, 3000, function () {
                  $flake.remove(); // Remove the snowflake after the animation
                });
              });
            };
    createSnowflakes();
    runSnowStorm();
  }

</script>
</body>
</html>
